///
/// Button component
///

.button {
  align-items: center;
  appearance: none;
  background: $color-base;
  border: 0;
  border-radius: $button-border-radius;
  @include elevate(1);
  color: $color-board;
  cursor: pointer;
  display: inline-flex;
  font: $button-font-weight #{$button-font-size}/1 $font-text;
  outline: 0;
  padding: $button-padding-s;
  position: relative;
  text-decoration: none;
  transition: all $transition;


  @include break(tablet) {
    padding: $button-padding;
  }


  & + & {
    margin-left: $spacing-small;
  }


  //
  // Interaction
  //
  &:hover {
    background-size: 200% 100%;
    color: $color-board;
    @include elevate(20);
    transform: translateY(-3px);
  }

  &:active {
    @include elevate(1);
    opacity: 0.9;
    transform: translateY(1px);
  }


  //
  // Variants
  //
  &.primary {
    $color-b: $color-primary;
    $color-a: lighten(adjust-hue($color-b, 10%), 5%);
    background: $color-b 0 0/100% 100%;
    background-image: linear-gradient(to right, $color-a, $color-b);
    color: $color-base;


    &:hover {
      background-size: 200% 100%;
      color: $color-base;
    }
  }


  &.clear {
    background: transparent;
    box-shadow: none;
    color: $color-base;

    &:hover {
      background: rgba($color-link,0.2);
      box-shadow: none;
      color: $color-base;
      transform: none;
    }
  }


  &[disabled],
  &.disabled {
    color: $color-gray;
    opacity: 0.75;
    pointer-events: none;
  }



  //
  // Elements
  //
  &__text {
    display: block;
    position: relative;
    transition: all $transition;
  }


  svg {
    height: $spacing-base;
    margin-bottom: -2px;
    margin-right: $spacing-base;
    width: $spacing-base;
  }
}



.button-between {
  color: $color-link;
  display: inline-block;
  margin: 0 $spacing-small;
}
