.stack,
.spacer {
  margin: $board-column-gutter-s;
  position: relative;
  width: $board-column-width-s;


  @include break(tablet) {
    margin: $board-column-gutter;
    width: $board-column-width;
  }
}

.spacer {
  z-index: -999;

  &:not(.fixed) {
    flex: 1;
  }
}

.stack {
  background: transparent center/40% no-repeat;

  &:empty {
    &::before {
      content: '';
    }
  }

  &::before {
    background: saturate(darken($color-board, 7%), 20%);
    border-radius: $card-border-radius;
    display: table;
    left: 0;
    opacity: 0.4;
    padding-bottom: (100% * $card-ratio-s);
    pointer-events: none;
    position: relative;
    top: 0;
    width: 100%;
    z-index: -1;


    @include break(tablet) {
      padding-bottom: (100% * $card-ratio);
    }
  }

  &:empty::before {
    position: relative;
  }


  // 3.1 Default
  &.default,
  &:not(.vertical):not(.horizontal) {
    @include deck-stacked;
  }


  // 3.2 Vertically stacked cards
  &.vertical {
    .card {
      margin-bottom: -80%;
      position: relative;

      &:hover ~ .card {
        transform: translate3d(0, -3px, 0);
      }

      &.facedown {
        margin-bottom: -95%;
      }


      @media only screen and (max-width: 768px) and (orientation: landscape) {
        margin-bottom: -60%;

        &.facedown {
          margin-bottom: -80%;
        }
      }


      @include break(tablet) {
        margin-bottom: -110%;

        &.facedown {
          margin-bottom: -125%;
        }
      }
    }
  }


  // 3.3 Horizontally stacked cards
  &.horizontal {
    display: flex;
    flex-direction: row;

    &::before {
      position: absolute;
    }


    &.show-3 {
      .card:not(:nth-last-child(-n + 3)) {
        display: none;
      }
    }


    .card {
      flex: 0 0 100%;
      margin-right: -70%;
      position: relative;

      &.facedown {
        margin-right: -90%;
      }

      &:not(:last-child) {
        pointer-events: none;
      }
    }
  }


  //
  // Decorators
  //
  &.cycle {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCI+CiAgPHBhdGggZD0iTTEwLjE2OCAzNC45NDdhMjYuMDE2IDI2LjAxNiAwIDEgMSA3LjQ1IDE1LjQzMiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJyZ2JhKDAsMCwwLDAuMikiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSI1IiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbGluZWNhcD0icm91bmQiPjwvcGF0aD4KICA8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9InJnYmEoMCwwLDAsMC4yKSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2Utd2lkdGg9IjUiIGQ9Ik0yIDIzbDguMTY4IDExLjk0N0wyMC45ODYgMjUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PC9wYXRoPgo8L3N2Zz4K');
  }


  // Error overrides all, so leave this at the bottom
  &.error {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSI+CiAgPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSJyZ2JhKDAsMCwwLDAuMikiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTIzLjUsMS41bC0yMiwyMiBNMjMuNSwyMy41bC0yMi0yMiIvPgo8L3N2Zz4K');
  }
}
