//
// tableau
//

.tableau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;


  &__column {
    display: flex;
    flex-direction: column;
  }


  @include break(tablet) {
    margin-top: 7.5%;
  }

  @include break(hd) {
    margin-top: 5%;
  }
}