///
///
/// Game Tile
///
///


$game-tile-icon-size: 1em;


%tile-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-shadow: 0 0 50px rgba($color-board, 0.2);
  top: 0;
  transition: all $transition;
  width: 100%;
}


.tile {
  background: linear-gradient(70deg, var(--primary), var(--secondary));
  @include elevate(1);
  color: $color-base;
  cursor: pointer;
  font-size: $fs-medium;
  flex-grow: 0;
  overflow: hidden;
  position: relative;
  transition: box-shadow $transition;
  width: 100%;


  @include break(450px) {
    font-size: $fs-large;
  }


  //
  // Interaction
  //
  &:hover {
    @include elevate(30);
  }

  &:hover & {
    &__info {
      opacity: 0;
      transform: translateY(-30%);
      visibility: hidden;
    }


    &__menu {
      opacity: 1;
      transform: translateY(0);
    }


    &__fav {
      opacity: 0.4;
      transform: translateY(0);
    }
  }



  //
  // Style Variants
  //
  &::before {
    background: center/contain no-repeat;
    height: $game-tile-icon-size;
    mix-blend-mode: overlay;
    opacity: 1;
    position: absolute;
    right: $spacing-x-small;
    top: $spacing-x-small;
    transition: all $transition;
    width: $game-tile-icon-size;
  }



  //
  // Styles
  //
  &::after {
    content: '';
    display: table;
    height: 0;
    padding-bottom: (100% * $game-tile-ratio);
    width: 100%;
  }


  &__info {
    @extend %tile-content;
  }


  &__menu {
    @extend %tile-content;
    opacity: 0;
    transform: translateY(30%);
    z-index: 15;
  }


  &__link {
    color: $color-base;
    font: bold #{$fs-medium}/1.75 $font-text;
    text-decoration: none;


    &:hover {
      color: $color-board;
    }


    @include break(tablet) {
      font-size: $fs-base;
    }
  }


  &__sign {
    font-size: 200%;
    font-weight: bold;
  }


  // &.hot {
  //   &::before {
  //     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFlame%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' d='M50 14c-6.9 6.1-6 16-6 16S33.8 14.5 38 2c-4.1 8.4-22 10.6-14 34-10.1-3.8-10-16-10-16s-6 6-6 18a24 24 0 0 0 48 0c0-12.2-8.7-12.1-6-24z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  //     content: '';
  //   }

  //   &:hover::before {
  //     top: $game-tile-icon-size * 1.4;
  //   }
  // }

  // &.fav &__fav,
  // &.fav:hover &__fav {
  //   opacity: 1;
  //   transform: translateY(0);
  // }

  // &.fav &__fav {
  //   &::before {
  //     animation: heartPulse 0.4s $transition-easing;

  //     @keyframes heartPulse {
  //       from {
  //         opacity: 1;
  //         transform: scale(1);
  //       }

  //       to {
  //         opacity: 0;
  //         transform: scale(3);
  //       }
  //     }
  //   }
  // }

  // &.fav.hot {
  //   &::before {
  //     top: $game-tile-icon-size * 1.4;
  //   }
  // }


  // &__fav {
  //   -webkit-appearance: none;
  //   background: transparent;
  //   border: 0;
  //   color: inherit;
  //   cursor: pointer;
  //   font-size: inherit;
  //   height: $game-tile-icon-size;
  //   mix-blend-mode: overlay;
  //   opacity: 0;
  //   outline: 0;
  //   padding: 0;
  //   position: absolute;
  //   right: $spacing-x-small;
  //   top: $spacing-x-small;
  //   transform: translateY(-50%);
  //   transition: all $transition;
  //   width: $game-tile-icon-size;
  //   z-index: 20;


  //   &:hover {
  //     opacity: 0.7;

  //     .fav &,
  //     .fav:hover &,
  //     .tile:hover & {
  //       color: inherit;
  //       opacity: 1;
  //       transform: translateY(0);
  //     }
  //   }


  //   &:active {
  //     color: inherit;
  //     opacity: 1;
  //     transform: translateY(0);
  //   }


  //   &::before {
  //     content: '';
  //     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EHeart%3C/title%3E%3Cdesc%3EA solid styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' d='M62 20A15 15 0 0 0 47 5c-6.5 0-12.9 4.2-15 10-2.1-5.9-8.5-10-15-10A15 15 0 0 0 2 19.6v.4a15 15 0 0 0 .7 4.5C6.1 37.2 21.4 50.1 32 59c10.6-8.8 25.8-22.7 29.2-34.4a14.8 14.8 0 0 0 .5-2.1v-.3a15.1 15.1 0 0 0 .2-2.1z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  //     height: 100%;
  //     pointer-events: none;
  //     position: absolute;
  //     width: 100%;
  //     z-index: -1;
  //   }


  //   * {
  //     fill: currentColor;
  //   }
  // }
}
