///
/// Basic typography styles
///
/// ------------------------------------------------------------------
///
/// Include the fonts, as well as general or default font styles here.
/// More specific styles should be grouped in a separate file, such as
/// `headlines`.
///


html {
  font-size: $fs-document-s;

  @include break(tablet) {
    font-size: $fs-document;
  }
}

body {
  font: #{$fs-small}/#{$lh-base} $font-text;

  @include break(tablet-l) {
    font-size: $fs-base;
    line-height: $lh-large;
  }

  @include break(desktop) {
    font-size: $fs-medium;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


p {
  margin-bottom: 0.5em;

  &.intro {
    font-size: $fs-medium;
  }

  & + .button {
    margin-top: $spacing-large;
  }
}


a {
  color: $color-link;
  cursor: pointer;
  text-decoration: none;
  transition: color $transition;


  &:hover {
    color: $color-link-hover;
  }
}
