//
// core styles
//

html {
  font-family: $font-text;
  height: 100%;
  width: 100%;
}


button {
  appearance: none;
  background: transparent;
  border: none;
  color: color(white);
  cursor: pointer;
  text-transform: lowercase;
}