//
// player options menu
// contains game selection and game settings
//

.options {
  @include gradient(-70deg, darken(color(fiord), 7.5%));
  bottom: 0;
  color: color(white);
  display: flex;
  flex-wrap: wrap;
  left: 0;
  min-width: 320px;
  padding: 5rem 0;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  width: calc(17.2vw + #{30px + 20px});
  z-index: 1100;

  &--open {
    transform: translateX(0);
  }


  // close icon
  &__close {
    color: color(white);
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 25px;
    top: 13px;
  }


  // item group
  &__list {
    width: 100%;

    &--settings {
      align-self: flex-end;
    }
  }


  // link overlay
  &__link {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }


  // option list items
  &__item {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 24px 36px;
    position: relative;

    // background
    &::before {
      @include gradient(-70deg, darken(color(fiord), 20%));
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.4;
      position: absolute;
      top: 0;
      transition: opacity 0.6s ease;
      width: 100%;
      z-index: -1;
    }


    // mouseover
    &:hover {
      &::before {
        opacity: 1;
      }
    }


    // content within options
    p {
      color: desaturate(lighten(color(fiord), 15%), 5%);
    }


    // simple text list items have no background
    &--headline,
    &--setting {
      padding-bottom: 20px;
      padding-top: 20px;

      &::before {
        background: transparent;
      }
    }
  }

  // option list item thumbnail
  &__thumb {
    @include elevate(2);
    color: color(white);
    @include flex(0 0 25%);
    height: 0;
    margin-right: 16px;
    padding-bottom: 25%;
    position: relative;

    &::after {
      font-size: 1.75rem;
      font-weight: 300;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    // thumbnail options
    .options__item--klondike & {
      background: color(aqua);

      &::after {
        content: "K";
      }
    }

    .options__item--spider & {
      background: color(plum);

      &::after {
        content: "S";
      }
    }

    .options__item--freecell & {
      background: color(emerald);

      &::after {
        content: "F";
      }
    }
  }
}