$statistics-title-width: (100% / 3);


.statistics {
  font-size: 1.2em;
  left: 50%;
  margin-bottom: rem(40);
  padding: rem(48) rem(48) rem(56) rem(56);
  top: 50%;
  transform: translate(-55%, -50%);


  &__headline {
    color: color(white);
    text-align: center;
  }


  // statistics table header
  &__header {
    margin-bottom: rem(12);
  }


  // statistics items
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(24);
    text-transform: lowercase;
  }


  &__title {
    display: block;
    width: $statistics-title-width;
  }


  &__values {
    display: flex;
    margin-left: auto;
    width: (100% - $statistics-title-width);
  }


  &__content {
    color: desaturate(lighten($modal-color, 30%), 10%);
    flex: 0 0 (100% / 4);
    font-weight: bold;
    margin-right: 5%;
    position: relative;
    text-align: right;
    width: ((100% - $statistics-title-width) / 2);
  }


  &__game {
    color: color(white);
  }


  &__average {
    margin-right: 5px;
  }


  &__change {
    height: 100%;
    flex: 0 0 10%;
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-top: -2px;

    &--positive {
      color: lighten(color(emerald), 10%);
    }


    &--negative {
      color: lighten(color(brickred), 10%);
    }
  }


  // start new game
  &__new {
    display: block;
    margin: rem(56) auto 0;
  }
}