///
/// Icon Button Component
///


.icon-button {
  @extend %icon-button;
  font: inherit;

  &__text {
    left: -9999px;
    position: absolute;
    visibility: hidden;
  }


  &.close {
    svg * {
      stroke: currentColor;
    }
  }
}
