<html>
  <head>
    <!-- Apple Stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Klondike Solitaire">
    <meta property="og:url" content="https://vaguelyserious.github.io/solitaire/">
    <meta property="og:image" content="images/klondike-og.png">
    <meta property="og:description" content="An open, light-weight Klondike Solitaire game">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Klondike Solitaire">
    <meta property="twitter:description" content="An open, light-weight Klondike Solitaire game">
    <meta property="twitter:image:src" content="images/klondike-twitter.png">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#e5501e">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="gamewrap">

      <!-- Board -->
      <main class="board" id="board" style="--width: 65vw; --columns: 7;">
        <div class="row">
          <div class="stack cycle" id="stack-0"></div>
          <div class="stack horizontal show-3" id="stack-1"></div>
          <div class="spacer fixed"></div>
          <div class="stack" id="stack-2"></div>
          <div class="stack" id="stack-3"></div>
          <div class="stack" id="stack-4"></div>
          <div class="stack" id="stack-5"></div>
        </div>
        <div class="row">
          <div class="stack vertical" id="stack-6"></div>
          <div class="stack vertical" id="stack-7"></div>
          <div class="stack vertical" id="stack-8"></div>
          <div class="stack vertical" id="stack-9"></div>
          <div class="stack vertical" id="stack-10"></div>
          <div class="stack vertical" id="stack-11"></div>
          <div class="stack vertical" id="stack-12"></div>
        </div>
      </main>

      <!-- Controls -->
      <aside class="controls">

        <button class="icon-button new-game">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" d="M12,1.7v20.7 M22.3,12H1.7" stroke-linejoin="round" stroke-linecap="round" />
          </svg>
          <span class="icon-button__text">Start new game</span>
        </button>

        <button class="icon-button" id="undo" disabled>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path d="M10.2 39.6A26 26 0 1 1 54.4 55" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="5" stroke-linejoin="round" stroke-linecap="round"></path>
            <path fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="5" d="M2 28.6l8 12 11.1-10" stroke-linejoin="round" stroke-linecap="round"></path>
          </svg>
          <span class="icon-button__text"></span>
        </button>

       <!--  <button class="icon-button" id="autocomplete" disabled>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="2" d="M1.5,13l7.2,7.2L22.5,5.8" stroke-linejoin="round" stroke-linecap="round" />
          </svg>
          <span class="icon-button__text"></span>
        </button> -->
      </aside>

      <!-- Scoreboard -->
      <aside class="modal scoreboard" id="scoreboard">
        <h2>Congratulations, you won!</h2>

        <p>The scoring system has not been implemented yet, but it is a planned feature.</p>

    <!--     <h3 class="label">Game Score</h3>
        <ul class="scoreboard__scores">
          <li class="scoreboard__score">
            <span class="scoreboard__score__label">Score:</span>
            <span class="scoreboard__score__value" id="scoreboard-score"></span>
          </li>
          <li class="scoreboard__score">
            <span class="scoreboard__score__label">Time Bonus:</span>
            <span class="scoreboard__score__value" id="scoreboard-bonus"></span>
          </li>
          <li class="scoreboard__score">
            <span class="scoreboard__score__label">Total Score:</span>
            <span class="scoreboard__score__value" id="scoreboard-total"></span>
          </li>
          <li class="scoreboard__score">
            <span class="scoreboard__score__label">Time:</span>
            <span class="scoreboard__score__value" id="scoreboard-time"></span>
          </li>
        </ul>

        <h3 class="label">Statistics</h3>
        <ul class="scoreboard__scores">
          <li class="scoreboard__score">
            <span class="scoreboard__score__label">High Score:</span>
            <span class="scoreboard__score__value" id="scoreboard-highscore"></span>
          </li>
          <li class="scoreboard__score"></li>
          <li class="scoreboard__score">
            <span class="scoreboard__score__label">Games played:</span>
            <span class="scoreboard__score__value" id="scoreboard-gamesCount"></span>
          </li>
          <li class="scoreboard__score">
            <span class="scoreboard__score__label">Games won:</span>
            <span class="scoreboard__score__value" id="scoreboard-gamesWonCount"></span>
          </li>
        </ul> -->

        <div class="scoreboard__buttons">
          <button class="button primary score-toggle new-game">Play again</button>
        </div>
      </aside>


      <!-- ASD -->
      <aside class="help__shortcuts visible">
        <ul class="help__shortcuts__list">
          <li class="help__shortcuts__item">
            <span class="description">Undo</span>
            <span>
              <span class="key">U</span>
              <span class="key">Z</span>
              <span class="key">Ctrl + Z</span>
            </span>
          </li>
          <li class="help__shortcuts__item">
            <span class="description">New Game</span>
            <span class="key">N</span>
          </li>
          <li class="help__shortcuts__item">
            <span class="description">Help &amp; Rules</span>
            <span class="key">H</span>
          </li>
        </ul>
      </aside>
    </div>
  </body>
</html>
