//
// game controls
//

.controls {

  &__link {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 20px;
    overflow: hidden;
    transition: color 0.25s;
    width: 20px;


    &:last-child {
      justify-content: flex-end;
    }


    @include break(tablet) {
      height: 30px;
      min-width: 160px;
      width: auto;
    }
  }


  &__info {
    @include break(tablet, max) {
      display: none;
    }
  }


  &__icon {
    align-items: center;
    color: currentColor;
    display: flex;
    font-family: $card-font;
    height: 12px;
    margin: 0 10px;
    position: relative;
    width: 12px;

    &:first-child { margin-left: 0; }
    &:last-child  { margin-right: 0; }


    &--undo {
      &::before {
        content: '⟲';
        font-size: 0.9em;
        line-height: 1;
        transform: rotate(70deg);


        @include break(tablet) {
          font-size: $font-large;
        }
      }

      &.invalid {
        &::before {
          content: "✕";
          margin-top: 0;
          transform: none;
        }

        & ~ .invalid { display: block; }
        & ~ .valid   { display: none; }
      }


      & ~ .invalid { display: none;}
      & ~ .valid { display: block;}
    }

    &--plus {
      &::after,
      &::before {
        background: currentColor;
        border-radius: 1px;
        bottom: 0;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 2px;
      }

      &::before {
        left: 50%;
        margin-left: -1px;
      }

      &::after {
        left: 5px;
        transform: rotate(90deg);

        @include break(tablet) {
          left: 8px;
        }
      }
    }


    @include break(tablet) {
      height: 18px;
      width: 18px;
    }
  }
}
