///
///
/// Core Styles
///
/// ------------------------------------------------------------------
///
/// Reset basic styling and fix some behavior, such as the default
/// box-sizing.
///
///


$background-color-a: mix($color-science-blue, $color-board);

html {
  background: $color-science-blue
      radial-gradient(circle at bottom, $background-color-a, $color-board 80%)
      fixed;
  box-sizing: border-box;
  color: $color-base;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
}

body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  overscroll-behavior: none;
  position: relative;
  width: 100%;


  &.overlay-acitve {
    overflow: hidden;
  }
}

svg, svg.ng-scope {
  height: 100%;
  width: 100%;

  * {
    fill: currentColor;

    &[stroke] {
      fill: none;
      stroke: currentColor;
    }
  }
}

img {
  display: block;
  max-width: 100%;
}
