//
// tableau
//

.tableau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;


  &__column {
    display: flex;
    flex-direction: column;
  }


  .card {

    // cards should be stacked so that the card value
    // and color are still visible
    margin-bottom: -100%;

    // if the card is face down, save space
    &--back {
      margin-bottom: -115%;
    }
  }


  @include break(tablet) {
    margin-top: 7.5%;
  }

  @include break(hd) {
    margin-top: 5%;
  }
}