.footer {
  display: flex;
  color: $color-link;
  font-size: $fs-small;
  flex: 0 0 auto;
  justify-content: space-between;
  margin: 0 0 $spacing-base;


  &__link {
    font-weight: bold;
    text-transform: uppercase;
  }
}
