//
// mixin to visualise multiple cards on top of each other in piles
//

@mixin deck-stacked($n) {
  .card {
    $x: $n;

    @include qq(from 2) {
      @for $i from 1 through $n {
        &:nth-last-child(#{$i}) {
          border-bottom: 1px solid darken(color(white), 20%);
          @include card-border-radius;
          @include elevate(2);
          top: ($x * -1px);
        }

        $x: $x - 1;
      }
    }
  }
}